body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px;
}

.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 5px 13px;
  height: 35px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn:hover {
  opacity: 0.8;
}

.todo {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  margin-top: 17px;
  background-color: rgb(110, 110, 110);
  display: flex;
  align-items: center;
  border-radius: 5px;
  min-height: 20px;
}

.todo-text {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  color: #fff;
}

.text-input {
  width: 68%;
  height: 15px;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkbox-input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

hr {
  margin-bottom: 30px;
}

.todochecked {
  opacity: 0.6;
  background-color: rgb(179, 179, 179);
}
